/* Font sizes/weights 16px ~ 20pt in documentation */
.fs-80 {
    font-size: 64px;
    font-weight: 700;
}

.fs-50 {
    font-size: 40px;
    font-weight: 600;
}

.fs-25 {
    font-size: 20px;
    font-weight: 600;
}

.fs-20 {
    font-size: 16px;
    font-weight: 400;
}

.fs-15 {
    font-size: 12px;
    font-weight: 400;
}

@media (max-width:768px) {
    .fs-80 {
        font-size: 32px;
        font-weight: 700;
    }

    .fs-50 {
        font-size: 24px;
        font-weight: 600;
    }

    .fs-25 {
        font-size: 16px;
        font-weight: 600;
    }

    .fs-20 {
        font-size: 14.4px;
        font-weight: 400;
    }
}

.fw-weak {
    font-weight: 300;
}

/* Backgrouds */
.bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}




.bg-1 {
    background-image: url("../img/bg-uvod.jpg");
    background-size: 150% 100%;
    overflow: hidden;
}

@media (max-width:576px) {
    .bg-1 {
        background-size: cover;
    }
}

.bg-2 {
    background-image: url("../img/bg-modra.jpg");
}

.bg-3 {
    background-color: white;
}

.bg-4 {
    background-image: url("../img/bg-faq.jpg");
}

.bg-5 {
    background-image: url("../img/bg-mapa.jpg");
}

.bg-6 {
    background-color: rgb(11,72,117);
}

.references-blockquote blockquote {
    background-color: rgb(239,246,252);
    /*background-color: lightblue;*/
    margin-bottom: 0px;
    margin-top: 1em;
}

    .references-blockquote blockquote img {
        display: block;
    }



.references-blockquote::after {
    content: "";
    margin-left: 30px;
    margin-bottom: 10px;
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(239,246,252);
}

.references-author strong {
    color: rgb(17,83,133);
}

.one-edge-shadow {
    box-shadow: 0px 6px 17px 7px #1153854a;
}

/* End Backgrouds */

a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

.smooth-transition {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.fast-transition {
    -webkit-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
}

.navbar.navbar-shrink {
    padding-bottom: 8px;
    padding-top: 8px;
}

.img-about {
    height: 500px;
}

@media (max-width: 992px) {
    .img-about {
        width: 100%;
        height: auto;
    }
}

/* Special borders from benefits section */

.benefits-block .left-border {
    border-left: 1px solid white;
}

.benefits-block .right-border {
    border-right: 1px solid white;
}

.benefits-block .left-border, .benefits-block .right-border {
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* End Special borders from benefits section */

.benefits-block ul {
    padding-left: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.benefits-block .col-lg-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.benefits-block .col-lg-1 {
    max-width: 5%;
    flex: 0 0 5%;
    padding: 0;
}

.benefits-block .col-lg-10 {
    max-width: 90%;
    flex: 0 0 90%;
    padding: 0;
}

@media (max-width: 992px) {
    .element-lg {
        display: none;
    }

    .benefits-block ul {
        margin: 0;
    }
}

.img-circular-cropper {
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-cropped {
    width: 100px;
    display: inline;
    margin: 0 auto;
}

.faq-c hr {
    border: none;
    height: 1px;
    color: rgb(17,83,133);
    background-color: rgb(17,83,133);
}

.collapse-header {
    color: rgb(17,83,133) !important;
    cursor: pointer;

}

.faq-c .container-fluid {
    padding: 0px;
}

.faq-c .row {
    padding-right: 8px;
}

.faq-c .col-sm-1, .faq-c .col-2 {
    text-align: right;
    padding-left: 0px;
}

.collapse-header .toggler-plus {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    line-height: 20px;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.collapse-header .toggler-minus {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 20px;
    font-weight: 200;
    margin-top: auto;
    margin-bottom: auto;
}

.collapse-header.collapsed .toggler-plus {
    display: block;
}

.collapse-header.collapsed .toggler-minus {
    display: none;
}

    /* .collapse-header::after {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 0px;
        right: 5px;
        content: "-";
        color: rgb(17,83,133);
        font-size: 20px;
    }

    .collapse-header.collapsed::after {
        content: "+";
        font-size: 20px;
    } */

/* dynamic logo size */
.navbar-brand img {
    height: 30px;
}

@media (min-width: 576px) {
    .navbar-brand img {
        height: 40px;
    }
}
/* end dynamic logo size */

/* List with special bullet */
/* ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
  
li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "•";
    padding-right: 5px;
} */
/* End List with special bullet */

form {
    width: 100%;
}

.form-group fieldset {
    border: 1px solid white;
}


.was-validated .form-group fieldset:invalid, .was-validated .form-group .invalid {
    border: 1px solid rgb(249,59,69);
}

.was-validated .form-group .invalid input {
    color: rgb(249,59,69);
}

.was-validated .form-group input:invalid {
    color: rgb(249,59,69);
}

.form-group ::placeholder {
    color: #ffffff80
}

/* .was-validated .form-group fieldset:invalid .text */
.was-validated .form-group fieldset:invalid ::placeholder {
    color: #F94522;
    border-color: #F94522;
    -webkit-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
}

.was-validated .form-group fieldset:invalid .text {
    display: inline;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}


.form-group input, .form-group textarea {
    background-color: transparent;
    color: white;
    line-height: 1.5rem;
    height: auto;
}

.form-my-control {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-top: 0;
    padding-right: .75rem;
    padding-bottom: .375rem;
    background-color: transparent;
    border: 0px solid transparent;
    height: calc(2.25rem + 2px);
}



.form-group .form-checkbox {
    height: 25px;
    width: 25px;
    position: relative;
}



    .form-group .form-checkbox label {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: transparent;
        border: 1px solid white;
    }



        .form-group .form-checkbox label:before {
            opacity: 0;
            content: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='25' height='25'%3E%3Cdefs%3E%3Cpath d='M147.68 298.42L299.84 450.59L282.16 468.26L130 316.1L147.68 298.42Z' id='f1lXndsmJL'%3E%3C/path%3E%3Cpath d='M267.47 447.5L514.95 200L532.63 217.68L285.15 465.18L267.47 447.5Z' id='b2C8qH4ReY'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23f1lXndsmJL' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23b2C8qH4ReY' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            width: 25px;
            height: 25px;
            background: white;
            top: -1px;
            left: -1px;
        }

    /* .form-group .form-checkbox label::after {
    content: 'This is message';
    position: absolute;
    top: 0;
    left: 30px;
    width: 120px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

@media (max-width:768px) {
    .form-group .form-checkbox label::after {
        font-size: 14.4px;
    }
} */


    .form-group .form-checkbox input[type=checkbox]:checked + label:before {
        opacity: 1;
    }

.was-validated .form-group .form-checkbox input[type=checkbox]:invalid + label {
    border-color: rgb(249,59,69);
}

.form-group .fieldset-unstyled fieldset {
    border: 0px solid transparent;
}

.was-validated .form-group .fieldset-unstyled fieldset:invalid {
    border: 0px solid transparent;
}

.form-group .form-checkbox input[type=checkbox] {
    visibility: hidden;
}

.form-group .under {
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}

.form-group {
    margin-bottom: 0;
}

    .form-group fieldset ~ .invalid-feedback {
        opacity: 0;
        display: block;
        margin-top: 0;
        color: rgb(249,59,69);
    }

.was-validated .form-group fieldset:invalid ~ .invalid-feedback {
    opacity: 1;
}
/* Overrides */

.navbar-light .collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='32' height='32'%3E%3Cdefs%3E%3Cpath d='M545.33 135C547.91 135 550 137.09 550 139.67C550 144.74 550 155.26 550 160.33C550 162.91 547.91 165 545.33 165C456.26 165 193.74 165 104.67 165C102.09 165 100 162.91 100 160.33C100 155.26 100 144.74 100 139.67C100 137.09 102.09 135 104.67 135C193.74 135 456.26 135 545.33 135Z' id='a1Mk8eaHGV'%3E%3C/path%3E%3Cpath d='M545.33 295C547.91 295 550 297.09 550 299.67C550 304.74 550 315.26 550 320.33C550 322.91 547.91 325 545.33 325C456.26 325 193.74 325 104.67 325C102.09 325 100 322.91 100 320.33C100 315.26 100 304.74 100 299.67C100 297.09 102.09 295 104.67 295C193.74 295 456.26 295 545.33 295Z' id='aP7nwegO9'%3E%3C/path%3E%3Cpath d='M545.33 455C547.91 455 550 457.09 550 459.67C550 464.74 550 475.26 550 480.33C550 482.91 547.91 485 545.33 485C456.26 485 193.74 485 104.67 485C102.09 485 100 482.91 100 480.33C100 475.26 100 464.74 100 459.67C100 457.09 102.09 455 104.67 455C193.74 455 456.26 455 545.33 455Z' id='afY3vTGXl'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a1Mk8eaHGV' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23aP7nwegO9' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23afY3vTGXl' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='64' height='64'%3E%3Cdefs%3E%3Cpath d='M624.14 609.69C626.01 611.57 626.01 614.6 624.14 616.48C621.93 618.69 618.69 621.93 616.48 624.14C614.61 626.01 611.57 626.01 609.7 624.14C491.36 505.8 139.74 154.18 21.41 35.85C19.53 33.97 19.53 30.94 21.41 29.06C23.62 26.85 26.85 23.62 29.06 21.41C30.94 19.53 33.97 19.53 35.85 21.41C154.18 139.74 505.8 491.36 624.14 609.69Z' id='gfottndqV'%3E%3C/path%3E%3Cpath d='M609.69 21.4C611.57 19.53 614.61 19.53 616.48 21.4C618.69 23.61 621.93 26.85 624.14 29.06C626.01 30.94 626.01 33.97 624.14 35.85C505.8 154.18 154.19 505.8 35.85 624.14C33.98 626.01 30.94 626.01 29.06 624.14C26.85 621.93 23.62 618.69 21.41 616.48C19.53 614.61 19.53 611.57 21.41 609.69C139.74 491.36 491.36 139.74 609.69 21.4Z' id='d29aEs7epq'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23gfottndqV' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23d29aEs7epq' opacity='1' fill='%23115385' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border: 0px solid transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

legend {
    width: auto;
    margin: 0px 15px;
    padding: 0px 5px;
    font-size: 1rem;
}

.fg-light {
    color: white;
}

.fg-dark {
    color: rgb(17,83,133);
}

.fg-ultra-dark {
    color: rgb(14, 61, 96);
}


h1, h2 {
    margin-bottom: 1.4em;
}

p {
    margin-bottom: 0.5em;
}

.btn-primary {
    border-radius: 0px;
    color: #fff;
    background-color: rgb(17,83,133);
    border-color: rgb(17,83,133);
}

    .btn-primary:hover {
        color: #fff;
        background-color: rgb(10,60,97);
        border-color: rgb(10,60,97);
    }

.btn-secondary {
    border-radius: 0px;
    color: rgb(17,83,133);
    background-color: white;
    border-color: white;
    width: 100%;
}

    .btn-secondary:hover {
        color: rgb(17,83,133);
        background-color: rgb(191,191,191);
        border-color: rgb(191,191,191);
    }

.navbar-light .navbar-nav .nav-link {
    color: rgb(17,83,133);
}

    .navbar-light .navbar-nav .nav-link.active {
        color: rgb(17,83,133);
    }

.nav-link.active span {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(17,83,133);
}

.nav-link span {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

/* fix bootstrap fixed-top navbar overlay */
body {
    padding-top: 70px;
}

.navbar {
    padding-top: 14px;
    padding-bottom: 14px;
}

.bg-light {
    background-color: white !important;
}

/* Modal */

.modal-content {
    border-radius: 0px;
}

.col-checkbox {
    flex: 0 0 30px;
}
